a[data-target^="#feedback"]:hover {
	cursor: pointer;
}
#loadMoreCat:hover {
	cursor: pointer;
}
.titleSta {
	text-align: left;
}
.uploadNameCard > img.cardPic {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    bottom: 1px;
    z-index: 0;
    border-radius: 26px;
}

.uploadNameCard {
    position: relative;
}

.uploadNameCard a {
    z-index: 1;
    position: relative;
}

#map {
    min-height: 100%;
    width: 100% !important;
}
.leaflet-google-mutant.leaflet-top.leaflet-left {
    min-width: 100% !important;
}
.map {
    position: relative;
}
div#map {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.navLeftSlick:hover, .navRightSlick:hover {
    cursor: pointer;
}
.hover-in {
    background-color: transparent !important;
    color: red !important;
    z-index: 99999999 !important;
}
.pageNav {
    max-width: calc(100% - 88px);
}
.resultItem {
    position: relative;
    width: 100%;
}

.resultItemView {
    position: absolute;
    top: 0;
}

.resultListing {
    width: calc(100% - 20px);
    overflow-y: auto;
}
.loaded {
    position: absolute;
    top: calc(50% - 50px);
    height: 100px;
    left: calc(50% - 50px);
    width: 100px;
    z-index: 1111;
    background-color: white;
}
.loaded.done {
    display: none;
}
div#result.open-list .map {
    width: 100%;
}

div#result.open-list .resultPanel {
    width: 0px;
    overflow-x: hidden;
}

div#result.open-list .resultContainer {
    position: relative;
}
div#result.open-list .resultContainer .resultListing {
    width: 100%;
}
div#result.open-list .resultContainer .map {
    position: absolute;
    right: 100%;
}
.resultContainer .pageNav {
    max-width: 100%;
    float: left;
}
.open-list + .expandBtn {
    transform: rotate(180deg);
    right: 0 !important;
    left: unset !important;
}
.expandBtn {
    /* top: 150px !important; */
}

.aboutUsPara {
    font-family: 'Montserrat-Light', sans-serif !important;
    font-size: 18px !important;
    line-height: 27px !important;
}

.listAboutItem img {
    height: 70px;
}

.filterPanel > div {
    height: auto;
}
.item01 ul {
    height: auto;
    max-height: unset !important;
    overflow-y: unset;
}
.filterPanel .endItem button {
    width: auto;
}
.itemRelatedCompany {
    max-width: none;
}
.imgSupplierConnection {
    filter: grayscale(100%);
}

.leaflet-popup-pane .leaflet-popup-close-button{
    left: -100000px;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    left: -100000px;
    position: absolute
}
.leaflet-popup-content .popUpCompanyOnMap {
    top: 93px;
    left: 87px;
    height: auto;
}
.leaflet-popup-content .popUpCompanyOnMap p a {
    color: #666 !important;
}
.leaflet-div-icon span {
    padding-left: 5px
}
.popUpContent h7, .popUpCompanyOnMap h7, .resultItemCompanyTitle h7 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 18px;
    max-height: 36px;
    margin-bottom: 0;
    width: 100%;
    font-size: 14px;
}
.leaflet-popup-content p:nth-child(2), .popUpCompanyOnMap p:nth-child(2) {
    margin-top: 25px;
    margin-bottom: 8px;
    margin-left:  0;
}
.popUpContent p:nth-child(3) a {
    color: #666;
}
.leaflet-popup-content p:nth-child(3), .popUpCompanyOnMap p:nth-child(3),
.resultItemCompanyShortDesc p
{
    margin-top: 5px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 15px;
    max-height: 30px;
    margin-bottom: 0  !important;
    margin-left: 0  !important;
}
body > .popUpCompanyOnMap {
    transition: bottom 0.5s;
    margin-left: 0;
    width: 100%;
    height: auto;
}
body > .popUpCompanyOnMap .popUpImage {
    height: auto;
}
body > .popUpCompanyOnMap.down {
    transition: bottom 0.5s;
    bottom: -150px;
}
.lastChildCatItem svg {
    width: 24px;
    height: 24px;
}
div#feedback input[type^="radio"] {
    width: 1px;
    height: 1px;
    opacity: 0;
}
.topNavWhite.searchResult input[name^="txtSearchNavTxt"],
.topNavWhite.searchResult button[name^="btnSearchNavBtn"] {
    display: block !important;
}

.topNavWhite.searchResult button[name^="buttonTrigger"] {
    display: none !important;
}

.popUpCompanyOnMap.listInfo {
    top: 10px;
    left: 30px;
    max-height:  300px;
    overflow:  auto;
}

.listInfo .itemPopup {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #ccc
}
body > .popUpCompanyOnMap.listInfo {
    top: unset;
    bottom: 0px;
    left: 0px;
    max-height: 30%;
    overflow:  auto;
}
body > .popUpCompanyOnMap.listInfo.down {
    bottom: -300px;
}
.topNavWhite.searchResult {
    height: auto;
}
input.leaflet-control-layers-selector {
    width: unset;
    font-size: unset;
    color: unset;
    background-image: unset;
    padding: unset;
    border-radius: unset;
    border: unset;
    background: unset;
    box-shadow: unset;
    outline: unset;
    -webkit-box-shadow: unset;
    height: unset;
    line-height: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset !important;
    -webkit-transition: unset !important;
    -o-transition: unset !important;
    transition: unset !important;
    -webkit-appearance: radio;
    float: left;
    margin-right: 10px;
    margin-top:  1px;
}
.leaflet-control-layers-base label {
    margin-left: 0;
    margin-bottom: 0;
}

.leaflet-control-layers-base label+label {
    margin-top:  10px;
}


h2#count04:after {
    content: '%';
    display: inline-block;
}

.newsPanel img {
    width: 100%;
}

.hintBlockList img  {
    filter: none !important;
}

.leaflet-div-icon {
    background-clip: padding-box;
	border-radius: 20px;
    background: #fff;
    border: 1px solid #666;
    width: auto !important;
    padding: 3px 10px;
    height: auto !important;
    font-weight: bold;
    color: red;
}

.process {
    background: red;
    z-index: 10;
    position: fixed;
}
.resultItem .resultItemCompanyShortDesc table p {
    overflow: hidden !important;
}
#search-filter, .select2-container {
    width: calc(100% - 40px) !important;
}
input.select2-search__field {
    height: unset !important;
}
span.select2-selection.select2-selection--multiple {
    border-color: transparent !important;
}
body#map-page {
    overflow-x: hidden;
}
.select2-container {
    margin-left: 20px !important;
    position: absolute !important;
    top: 10px;
    z-index: 1;
}
.form-group .select2-container {
    margin-left: 20px !important;
    position: relative !important;
    z-index: 2222;
}
.holderContent {
    margin-top: 20px !important;
}
span.select2-dropdown.select2-dropdown--below {
    margin-left: -20px !important;
}
input#s2id_autogen1 {
    height: auto !important;
    border-radius: 0 !important;
    border-color: transparent !important;
}
li.select2-search-choice {
    display: none;
}
input#s2id_autogen1:focus {
    border-color: transparent !important;
}

.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
}
.marker-name div img {
    position: absolute;
    top: -33px;
    left: -12px;
}
.marker-name div:hover {
    background-color: #da1721ed;
}
.marker-name div{
	width: max-content;
	padding: 3px 10px;
	background-color: #00000087;
	border-radius: 4px;
	font-weight: 600;
	color: #ffffff;
	left: 6px;
	position: absolute;
	top: 6px;
}
.leaflet-marker-icon:hover {
	z-index: 1 !important;
}

li.select2-results-dept-1.select2-result.select2-result-selectable, .select2-results li {
    padding: unset;
}

.filterPanel, .layerPanel {
    height: auto !important;
    bottom: 0;
}
.holderContent {
    height: calc(100% - 82px) !important;
}
.holderContent.for-mobile {
    margin-top: 50px !important;
    height: calc(100% - 102px) !important;
}
.layerPanel.for-mobile {
    height: unset !important;
    bottom: unset !important;
}
.clientType input[type="radio"] {
    -webkit-appearance: radio;
    width: unset;
    height: unset;
}