

<!-- Modal -->
<div class="modal fade" id="successInfor" tabindex="-1" role="dialog" aria-labelledby="successLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modalLeft">
                <div class="modal-body text-center">
                    <h2 class="color1046f1 fontsize18">Success</h2>
                    <p class="fontsize12">Sucess register</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Success-->