
<!--Success-->

<!-- Modal -->
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="successLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modalLeft">
                <div class="modal-header" style="border:none;">
                    <h6 class="modal-title fontsize16" id="successLabel"></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <img src="public/assets/gp-1.svg" style="margin-top:-120px; width:140px;" />
                    <h2 class="color1046f1 fontsize18"><%= langData.label %></h2>
                    <p class="fontsize12"><%= langData.info %></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Success-->