
<!-- Modal -->
<div class="modal fade" id="failInfor" tabindex="-1" role="dialog" aria-labelledby="successLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:300px;">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h2 class="colorF90">Fail</h2>
                <p>Something wrong happened</p>
            </div>
        </div>
    </div>
</div>
<!--End Success-->